@font-face {
    font-family: "GowunDodum-Regular";
    font-weight: normal;
    src: url("./src/fonts/온글잎\ 밑미.ttf") format("truetype");
  }
  
  body {
    font-family: "GowunDodum-Regular";
  }